.bg-primary {
  background-color: #673AB7 !important; }

.overlay {
  position: absolute;
  height: 100%;
  width: 100%; }
  .overlay.dark {
    background-color: rgba(10, 10, 10, 0.5); }

/*# sourceMappingURL=app.css.map */
