.welcome {
  position: relative;
  height: 100vh;
  background-image: url("../images/welcome.jpeg");
  background-size: cover; }
  .welcome .content {
    z-index: 1; }

/*# sourceMappingURL=home.css.map */
